main>
<h2>Editing Book</h2>
<%= form_with model:@book, local:true do |f| %>
    <div class="form-group"> 
      <label for="book_title">Title</label>
        <%= f.text_field :title %>
    </div>
    <div class="form-group"> 
      <label for="book_body">Opinion</label>
      <%= f.text_area :body, rows:'2' %>
    </div>
    <div class="form-group"> 
      <%= f.submit 'Update Book' %>
    </div>
  <% end %>
  <%= link_to "Show", book_path, class: "show_#{@book.id}" %>
|
  <%= link_to "Back", books_path, class: "Back" %>

</main>
